<?xml version="1.0"?>
<model>
  <name>Erle-Copter</name>
  <version>1.0</version>
  <sdf version='1.4'>copter.sdf</sdf>

  <author>
   <name>ALejandro Hernandez</name>
   <email>alex@erlerobotics.com</email>
  </author>

  <description>
    This is a model of the Erle-Copter Iris Quadrotor.
  </description>
</model>
